<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <title>Booking</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        
        <div class="contact-form glass">
            <div class="form-header">
                <div>
                    <h2 class="form-title">Booking Form</h2>
                    <p class="form-subtitle">Latest booking and cleaning status</p>
                </div>
                <div class="form-actions">
                    <button class="form-btn close-btn"> x </button>
                </div>
            </div>
            <form th:action="@{/booking}" th:object="${bookingRequest}" method="post">
                <div class="form-group">
                    <label>SDT khách:</label>
                    <input type="text" id="phoneSearch" placeholder="Nhập SĐT để check..."/>
                    <button type="button" onclick="checkCustomer()" class="cta-btn">Check Khách</button>
                </div>
                <div class="form-group">
                    <label for="name">Full Name</label>
                    <input type="text" id="name" name="name" placeholder="Enter your full name" required=''/>
                </div>
                <div class="form-group">
                    <label for="email">Email Address</label>
                    <input type="email" id="email" name="email" placeholder="Enter your email" required=''/>
                </div>
                <div class="form-group">
                    <label for="subject">Subject</label>
                    <input type="text" id="subject" name="subject" placeholder="What's this about?"/>
                </div>
                
                <button type="submit" class="cta-btn">Send Message</button>
            </form>
        </div>
        
    </body>
</html>
