<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <title>Booking</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" th:href="@{/css/form.css}"/>
    </head>
    <body>
        
        <div class="booking-form glass">
            <div class="form-header">
                    <h2>Thông tin nhận phòng</h2>
                    <button class="close-btn"> x </button>
            </div>
            <form id="customerForm">
                <div class="form-group">
                <div class="form-grid grid1">
                    <div>
                        <label>Họ và tên:
                            <input type="text" id="customerName" name="name" placeholder="VD: Nguyễn Thị A" required="" />
                        </label>
                        <label>SĐT:
                            <input type="text" id="phone" name="phone" placeholder="VD: 088 8888 8888" required=""/>
                        </label>
                        <label>Email:
                            <input type="text" id="email" name="email" placeholder="VD: email@gmail.com"/>
                        </label>
                        <label>Số giấy tờ tùy thân (CCCD, CMT,...):
                            <input type="text" id="idCard" name="id_card" placeholder="VD: 001234567899" required="" />
                        </label>
                    </div>
                </div>
                </div>
            </form>
        </div>
    </body>
</html>
