/* ============================================
   CALENDAR DIV
============================================ */

.booking-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
}

.booking-guest {
    width: 38px;
    height: 38px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
