<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" 
      th:replace="~{layout/base :: main_layout(~{::content}, ~{::title}, ~{::head})}">
    <head>
        <title>Room Status</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <th:block th:fragment="head">
            <link rel="stylesheet" th:href="@{/css/room-card.css}" />
            <link rel="stylesheet" th:href="@{/css/calendar.css}"/>
            <link rel="stylesheet" th:href="@{/css/form.css}"/>
        </th:block>
    </head>
    
    <body>
        <h1 th:fragment="title">Room Status</h1>
        <div th:fragment="content">
            <section class="content-grid">
                <!-- Data Table -->
                <div class="glass-card table-card">
                    <div class="card-header">
                        <div>
                            <h2 class="card-title">Recent change</h2>
                            <p class="card-subtitle">Latest booking and cleaning status</p>
                        </div>
                        <div class="card-actions">
                            <button class="card-btn">Refresh All</button>
                        </div>
                    </div>

                    <div class="table-wrapper" th:booking-list='${bookingList}'>
                        <table class="data-table" id="roomTable" th:rooms-list="${roomList}">
                            <thead>
                                <tr>
                                    <th>Booking ID</th>
                                    <th>Customer Name</th>
                                    <th>Contact Info</th>
                                    <th>Payment Status</th>
                                    <th th:if="${session.user?.role.toString() == 'ADMIN'}" class="roomtab">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <template id="booking-template">
                                    <tr>
                                        <td class="bid"></td>
                                        <td>
                                            <div class="customer">
                                                <span class="name"></span>
                                                <span class="id-card"></span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="contact">
                                                <span class="phone"></span>
                                                <span class="email"></span>
                                            </div>
                                        </td>
                                        <td><span class="status-badge"></span></td>
                                        
                                        <td th:if="${session.user?.role.toString() == 'ADMIN'}" class="roomtab">
                                            <button class="card-btn" style="padding: 6px 12px;">Edit</button>
                                        </td>
                                    </tr>
                                </template>
                            </tbody>
                        </table>
                        
                        <template id="detail-template">
                            <td colspan='5'>
                                <div class="detail-container">
                                    <h4>Chi tiết đặt phòng</h4>
                                    <table class="detail-table">
                                    <thead>
                                    <tr>
                                        <th>Detail ID</th>
                                        <th>Status</th>
                                        <th>Room Number</th>
                                        <th>Check-In</th>
                                        <th>Check-out</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody class="detail-body"></tbody>
                                </div>
                            </tr>
                        </template>
                            
                    </div>
                </div>
            </section>
            <script th:inline="javascript">
                const bookingData = [[${bookingList}]]; 

                document.addEventListener('DOMContentLoaded', () => {
                    console.log(bookingData);
                    renderBookingList(bookingData);
                });
            </script>
            <script th:src="@{/js/roomlist.js}"></script>
        </div>
    </body>
</html>
