<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" 
      th:replace="~{layout/base :: main_layout(~{::content}, ~{::title}, ~{::head})}">
    <head>
        <title>Room Status</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="_csrf" th:content="${_csrf.token}"/>
        <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
        <th:block th:fragment="head">
            <meta name="_csrf" th:content="${_csrf.token}"/>
            <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

            <link rel="stylesheet" th:href="@{/css/room-card.css}" />
            <link rel="stylesheet" th:href="@{/css/form.css}"/>
            <link rel="stylesheet" th:href="@{/css/detail-popup.css}"/>
        </th:block>
    </head>
    
    <body>
        <h1 th:fragment="title">Room Status</h1>
        <div th:fragment="content">
            <section class="content-grid">
                <!-- Data Table -->
                <div class="glass-card table-card">
                    <div class="card-header">
                        <div>
                            <h2 class="card-title">Recent change</h2>
                            <p class="card-subtitle">Latest booking and cleaning status</p>
                        </div>
                        <div class="card-actions">
                            <button class="card-btn" onclick="window.location.reload()">Refresh All</button>
                        </div>
                    </div>

                    <div class="table-wrapper">
                        <table class="data-table" id="roomTable">
                            <thead>
                                <tr>
                                    <th>Booking ID</th>
                                    <th>Customer Name</th>
                                    <th>Contact Info</th>
                                    <th>Payment Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <template id="booking-template">
                                    <tr>
                                        <td class="bid"></td>
                                        <td>
                                            <div class="customer">
                                                <span class="name"></span>
                                                <span class="id-card"></span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="contact">
                                                <span class="phone"></span>
                                                <span class="email"></span>
                                            </div>
                                        </td>
                                        <td><span class="status-badge"></span></td>
                                        
                                        <td>
                                            <button class="card-btn" style="padding: 6px 12px;">Details</button>
                                        </td>
                                    </tr>
                                </template>
                            </tbody>
                        </table>
                        
                        <template id="detail-template">
                            <td colspan='5'>
                                <div class="detail-container">
                                    <h4>Chi tiết đặt phòng</h4>
                                    <table class="detail-table">
                                    <thead>
                                    <tr>
                                        <th>Detail ID</th>
                                        <th>Status</th>
                                        <th>Room Number</th>
                                        <th>Check-In</th>
                                        <th>Check-out</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody class="detail-body"></tbody>
                                </div>
                            </tr>
                        </template>
                            
                    </div>
                    <!-- start popup -->
                    <div class="popup-overlay" id="popupOverlay">
                        <div class="glass popup">
                            <form id="edit-form">
                                <div class="roomNumber"></div>
                                <div class="checkIn"></div>
                                <div class="checkOut"></div>
                                <div class="customer">
                                    <span class="name"></span>
                                    <span class="id-card"></span>
                                    <span class="phone"></span>
                                    <span class="email"></span>
                                </div>
                                <div class="service-container">
                                    <button>Edit Service</button>
                                    <div class="service">Add</div>
                                    <template>
                                        <div class="service">
                                            <label>
                                                <div class="name"></div> :
                                                <input name='service-quantity' class="quantity"></input>
                                            </label>
                                            <div class="price"></div>
                                        </div>
                                    </template>
                                </div>
                                <button class="cancel">Cancel Booking This Room</button>
                                <div class="form-actions">
                                    <button type="submit">Save</button>
                                    <button type="reset">Reset</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- end popup-->
                </div>
            </section>
            <script th:inline="javascript">
                const bookingData = [[${bookingList}]]; 

                document.addEventListener('DOMContentLoaded', () => {
                    console.log(bookingData);
                    renderBookingList(bookingData);
                    loadAllServices();
                });
                let allServices = [];

                async function loadAllServices() {
                    try {
                        const response = await fetch('/services/api/all', {
                            method: 'GET',
                            headers: { 'Content-Type': 'application/json' }
                        });
                        allServices = await response.json();
                    } catch (error) {
                        console.error("Không thể load danh sách dịch vụ:", error);
                    }
                }
            </script>
            <script th:src="@{/js/roomlist.js}"></script>
            <script th:src="@{/js/booking.js}"></script>
        </div>
    </body>
</html>
